* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  background: linear-gradient(to bottom,#6A00FF 0%,#180028 10%,#000000 35%,#000000 100%);
  color: #fff;
  line-height: 1.5;
}

header {
  background: #111;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content:flex-end;
  padding: 0 40px;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #FF2D95;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00FFFF;
}

.neon-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #FF2D95;
  text-align: center;
  text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 50px #FF2D95;
  margin: 4rem 0;
}

.subtitle {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: #A500FF;
  text-transform: uppercase;
  margin-top: -2rem;
  margin-bottom: 6rem;
  font-weight: 500;
  font-size: small;
}

.neon-button {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 700px;
  background-color: #00FFFF;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF;
  transition: all 0.3s ease-in-out;
}

.neon-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #FFEA00, 0 0 40px #FFEA00;
}

.highlights {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 5rem;
}

.highlight-card {
  background: #111;
  padding: 1.5rem;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 0 15px #A500FF;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.highlight-card:hover {
  transform: translateY(-5px);
}
