* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  background: linear-gradient(to bottom,#6A00FF 0%,#180028 10%,#000000 35%,#000000 100%);
  color: #fff;
  line-height: 1.5;
}

header {
  background: #111;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content:flex-end;
  padding: 0 40px;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #FF2D95;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00FFFF;
}

.neon-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #FF2D95;
  text-align: center;
  text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 50px #FF2D95;
  margin: 4rem 0;
}

.subtitle {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: #A500FF;
  text-transform: uppercase;
  margin-top: -2rem;
  margin-bottom: 6rem;
  font-weight: 500;
  font-size: small;
}
