* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  background: linear-gradient(to bottom,#6A00FF 0%,#180028 10%,#000000 35%,#000000 100%);
  color: #fff;
  line-height: 1.5;
}

header {
  background: #111;
  padding: 1rem 0;
}

.nav-links {
  display: flex;
  justify-content:flex-end;
  padding: 0 40px;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #FF2D95;
  text-transform: uppercase;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00FFFF;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

.neon-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #FF2D95;
  text-align: center;
  text-shadow: 0 0 5px #FF2D95, 0 0 10px #FF2D95, 0 0 50px #FF2D95;
  margin: 4rem 0;
}

.subtitle {
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: #A500FF;
  text-transform: uppercase;
  margin-top: -2rem;
  margin-bottom: 6rem;
  font-weight: 500;
  font-size: 15pt;
}

.neon-button {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 700px;
  background-color: #00FFFF;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF;
  transition: all 0.3s ease-in-out;
}

.neon-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #FFEA00, 0 0 40px #FFEA00;
}

.highlights {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 5rem;
}

.highlight-card {
  background: #111;
  padding: 1.5rem;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 0 15px #A500FF;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.highlight-card:hover {
  transform: translateY(-5px);
}

footer {
  text-align: center;
  padding: 2rem;
  background: #111;
  color: #FFEA00;
  font-size: 10pt;
}

/* About Page */
.about-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.about-flex h2 {
  margin-bottom: 10px;
  color: #00FFFF;
}

.star-image {
  display: block;
  max-width: 300px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 0 20px #FF2D95;
}

.bio {
  flex: 3;
  margin-left: 40px;
}

.wrapper h2 {
  color: #A500FF;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 100px 0;
}

.vibes {
  flex: 1;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  text-align: right;
  color: #fff;
  padding: 40px;
  border-right: 2px solid #7FDBFF;
}

.fun-facts {
  flex: 1;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  text-align: left;
  color: #fff;
  padding: 20px;
}

span {
  font-family: 'Press Start 2P', cursive;
  font-size: 13pt;
  padding: 10px;
  color: greenyellow;
}

/* Schedule Page */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 900px;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.card {
  background: #111;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 15px #A500FF;
  border-left: 5px solid #FF2D95;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #FF2D95, 0 0 40px #A500FF;
}

.card h2 {
  font-family: 'Poppins', sans-serif;
  color: #FF2D95;
  margin-bottom: 0.5rem;
  line-height: 1.9rem;
}

.card h3 {
  font-family: 'Press Start 2P', cursive;
  color: #00FFFF;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border-bottom: 1px solid white;
  padding: 15px;
}

.card p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  line-height: 1.4;
  font-size: 0.8rem;
}

@media (max-width: 480px) {
  html {
    font-size: 12pt;
  }

  .nav-links {
    justify-content: center;
    gap: 3rem;
    padding: 0;
  }

  .neon-text {
    font-size: 1.5rem;
    margin: 3rem 2rem;
  }

  .neon-button {
    max-width: 300px;
    margin-bottom: 2rem;
  }

  .subtitle {
    padding-top: 1rem;
    margin-bottom: 3rem;
    font-size: 0.6rem;
    padding: 0 3rem;
  }

  .highlights {
    padding: 2rem 1rem;
    gap: 3rem;
  }

  .highlight-card {
    padding: 1rem;
    max-width: 400px;
  }

  .about-flex {
    flex-direction: column;
    text-align: center;
  }

  .bio {
    margin: 0;
    margin-top: 10px;
    max-width: 400px
  }

  .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .vibes {
    border: 2px solid #7FDBFF;
    text-align: center;
    padding: 20px;
    max-width: 400px;
  }

  .fun-facts {
    text-align: center;
    border: 2px solid #7FDBFF;
    padding: 50px;
    max-width: 400px;
  }

  .grid {
    grid-template-columns: 1fr;
    padding: 0 5.5rem;
  }
}
